html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #fff6d5, #ffe066);
    font-family: 'Segoe UI', sans-serif;
  }
  
  
  .game-title {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #ff9f1c;
    text-shadow: 
      2px 2px 0 #d97706,
      4px 4px 0 #b45309;
    margin: 10px 0 20px;
    transform: rotate(0);
  }
  
  
  .menu-container {
    width: 100%;
    max-width: 420px;
    height: 90vh;
    padding: 30px;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  
    background: transparent;

    gap: 30px;
  }
  
  
  .play-button {

    margin-top: auto;
    margin-bottom: auto;

    align-self: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    font-size: 48px;
    border: none;
    background: radial-gradient(circle, #ffd000, #ffb703);
    cursor: pointer;
    animation: pulse 2s infinite;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  }
  
  /* Pulse animation */
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
  
  /* Click scale */
  .play-button:active {
    transform: scale(0.95);
  }

  .stats {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .stats p {
    font-size: 35px;
    font-weight: 900;
    color: #ff9f1c;
    text-shadow:
        2px 2px 0 #b45309,
        4px 4px 0 #92400e;
    
  }

  .stats span {
    font-size: 28px;
    color: #facc15;
  }

  @keyframes statPop {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .stats span {
    display: inline-block;
    animation: statPop 1.5s infinite;
  }
  
  
  
  

  .menu-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  
  .menu-buttons button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    font-size: 28px;
    background: radial-gradient(circle, #fff, #facc15);
    cursor: pointer;
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
    transition: transform 0.2s;
  }
  
  .menu-buttons button:hover {
    transform: scale(1.15);
  }
  
  .menu-buttons button:active {
    transform: scale(0.95);
  }
  

  .notification {
    padding: 12px;
    border-radius: 10px;
    font-size: 14px;
    background: #e8f5e9;
    color: #2e7d32;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .notification.error {
    background: #ffebee;
    color: #c62828;
  }
  
  .hidden {
    display: none;
  }
  
  
  